# Zomato Restaurants Data - Exploratory Data analysis

In This Project using data provided from Zomato, I will find and take the restaurants specifically located in the United Arab Emirates, clean the data, create a metric rate the value of each restaurant, create mapping tables, and export all new dataframes into CSVs to be used in my Tableau dashboard.

Dashboard can be found here: https://public.tableau.com/views/UAEBestValueRestaurants/Dashboard12?:language=en-GB&publish=yes&:display_count=n&:origin=viz_share_link

### Importing libraries

In [269]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

### Load data

In [270]:
#reading the dataset and encoding it  
df1=pd.read_csv('zomato.csv',encoding='ISO-8859-1')

## EDA

In [271]:
df1.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [272]:
df1.shape

(9550, 21)

In [273]:
df1.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [274]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9550 entries, 0 to 9549
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9550 non-null   int64
 1   Restaurant Name       9550 non-null   object
 2   Country Code          9550 non-null   int64
 3   City                  9550 non-null   object
 4   Address               9550 non-null   object
 5   Locality              9550 non-null   object
 6   Locality Verbose      9550 non-null   object
 7   Longitude             9550 non-null   float64
 8   Latitude              9550 non-null   float64
 9   Cuisines              9541 non-null   object
 10  Average Cost for two  9550 non-null   int64
 11  Currency              9550 non-null   object
 12  Has Table booking     9550 non-null   object
 13  Has Online delivery   9550 non-null   object
 14  Is delivering now     9550 non-null   object
 15  Switch to order menu  9550 non-null   object
 16  Price range           9550 non-null   int64
 17  Aggregate rating      9550 non-null   float64
 18  Rating color          9550 non-null   object
 19  Rating text           9550 non-null   object
 20  Votes                 9550 non-null   int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB

### Checking for null values

In [275]:
df1.isnull().sum()

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

No null values here

In [276]:
# Review descriptive data
df1.describe()

,Restaurant ID,Country Code,Longitude,Latitude,Average Cost for two,Price range,Aggregate rating,Votes
count,9.550000e+03,9550.000000,9550.000000,9550.000000,9550.000000,9550.000000,9550.000000,9550.000000
mean,9.051479e+06,18.345131,64.127597,25.854524,1199.330052,1.804817,2.666272,156.898115
std,8.791915e+06,56.718191,41.469109,11.008503,16122.022965,0.905654,1.516427,430.190167
min,5.300000e+01,1.000000,-157.948486,-41.330428,0.000000,1.000000,0.000000,0.000000
25%,3.019492e+05,1.000000,77.081380,28.478745,250.000000,1.000000,2.500000,5.000000
50%,6.004248e+06,1.000000,77.191964,28.570470,400.000000,2.000000,3.200000,31.000000
75%,1.835229e+07,1.000000,77.282012,28.642760,700.000000,2.000000,3.700000,131.000000
max,1.850065e+07,216.000000,174.832089,55.976980,800000.000000,4.000000,4.900000,10934.000000

In [277]:
#df1 uses country codes so I will need to read the country codes excel file
#to find out which restaurants are located in the United Arab Emirates

df_country = pd.read_excel('Country-Code.xlsx')
df_country.head()

   Country Code    Country
0             1      India
1            14  Australia
2            30     Brazil
3            37     Canada
4            94  Indonesia

In [278]:
df=pd.merge(df1, df_country, on= 'Country Code', how= 'left')   #so we can get a final df with country name 
df.head(2)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes,Country
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Yes,No,No,No,3,4.8,Dark Green,Excellent,314,Phillipines
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Yes,No,No,No,3,4.5,Dark Green,Excellent,591,Phillipines

In [279]:
#checking for null values
df.isnull().sum()

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
Country                 0
dtype: int64

No null values

In [280]:
#droping unwanted columns
df.drop(['Country Code','Locality Verbose'],axis=1,inplace=True)

In [281]:
df.head(2)

,Restaurant ID,Restaurant Name,City,Address,Locality,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes,Country
0,6317637,Le Petit Souffle,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City",121.027535,14.565443,"French, Japanese, Desserts",1100,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314,Phillipines
1,6304287,Izakaya Kikufuji,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City",121.014101,14.553708,Japanese,1200,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591,Phillipines

In [282]:
#Taking restaurants from UAE
df_UAE = df[(df['Country'] == 'UAE')].sort_values(by='Restaurant Name')
#Adding Unique ID
df_UAE.insert(0, 'ID', range(1, len(df_UAE) + 1))

df_UAE.head()

,ID,Restaurant ID,Restaurant Name,City,Address,Locality,Longitude,Latitude,Cuisines,Average Cost for two,...,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes,Country
590,1,208939,AB's Absolute Barbecues,Dubai,"Sidra Tower, Near GEMS Wellington School, Exit...",Dubai Media City,55.178746,25.107773,"Indian, Continental",160,...,Yes,No,No,No,3,4.8,Dark Green,Excellent,2510,UAE
588,2,18269368,AB's Absolute Barbecues,Dubai,"Centurion Star Tower, Deira City Centre Area, ...",Deira City Centre Area,55.328740,25.254105,"Continental, Indian",160,...,Yes,No,No,No,3,4.9,Dark Green,Excellent,641,UAE
613,3,5600960,Al Mukhtar Bakery,Sharjah,"Near Safeer Mall, Al Nahda, Sharjah",Al Nahda,55.377281,25.308412,"Bakery, Arabian, Middle Eastern",50,...,No,No,No,No,2,4.2,Green,Very Good,142,UAE
619,4,5601521,Applebee's,Sharjah,"Sahara Centre, Al Nahda, Sharjah","Sahara Centre, Al Nahda",55.373536,25.297823,"American, Mexican, Burger",250,...,No,Yes,No,No,4,4.1,Green,Very Good,197,UAE
601,5,202507,Applebee's,Dubai,"Sheikh Issa Tower, Sheikh Zayed Road, Trade Ce...",Trade Centre Area,55.274306,25.211357,"American, Mexican, Burger",250,...,No,Yes,No,No,3,3.7,Yellow,Good,500,UAE

In [283]:
#We now have just the restaurants in the UAE, but we need to check for duplicate restaurant names
duplicates = df_UAE[(df_UAE['Country'] == 'UAE') & df_UAE.duplicated(['Restaurant Name'], keep=False)]
ordered_duplicates = duplicates.sort_values(by='ID')
print(ordered_duplicates.loc[:, [ 'ID','Restaurant Name','Address']])

     ID          Restaurant Name  \
590   1  AB's Absolute Barbecues
588   2  AB's Absolute Barbecues
619   4               Applebee's
601   5               Applebee's
574   6               Applebee's
605  18                   Gazebo
572  19                   Gazebo
582  51   The Cheesecake Factory
599  52   The Cheesecake Factory

                                               Address
590  Sidra Tower, Near GEMS Wellington School, Exit...
588  Centurion Star Tower, Deira City Centre Area, ...
619                   Sahara Centre, Al Nahda, Sharjah
601  Sheikh Issa Tower, Sheikh Zayed Road, Trade Ce...
574                Mushrif Mall, Al Mushrif, Abu Dhabi
605           King Faisal Street, Abu Shagara, Sharjah
572            Dalma Mall, Mussafah Sanaiya, Abu Dhabi
582    Yas Mall, Yas Leisure Dr, Yas Island, Abu Dhabi
599              The Dubai Mall, Downtown Dubai, Dubai

In [284]:
# There was a few duplicate names caused by restaurant chains which could cause confusion and lead to inaccurate ratings
# To fix this I will update names by combining the name of duplicates with the first line of their address
print(ordered_duplicates['Restaurant Name'] + ' - ' + ordered_duplicates['Address'].str.split(',', n=1).str[0])

590             AB's Absolute Barbecues - Sidra Tower
588    AB's Absolute Barbecues - Centurion Star Tower
619                        Applebee's - Sahara Centre
601                    Applebee's - Sheikh Issa Tower
574                         Applebee's - Mushrif Mall
605                       Gazebo - King Faisal Street
572                               Gazebo - Dalma Mall
582                 The Cheesecake Factory - Yas Mall
599           The Cheesecake Factory - The Dubai Mall
dtype: object

In [285]:
#Update names

update_data = {
    1: "AB's Absolute Barbecues - Sidra Tower",
    2: "AB's Absolute Barbecues - Centurion Star Tower",
    4: "Applebee's - Sahara Centre",
    5: "Applebee's - Sheikh Issa Tower",
    6: "Applebee's - Mushrif Mall",
    18: "Gazebo - King Faisal Street",
    19: "Gazebo - Dalma Mall",
    52: "The Cheesecake Factory - The Dubai Mall",
    53: "The Cheesecake Factory - Yas Mall"
}

for id, restaurant_name in update_data.items():
    df_UAE.loc[df_UAE['ID'] == id, 'Restaurant Name'] = restaurant_name

print(df_UAE[['ID', 'Restaurant Name', 'Average Cost for two']])

     ID                                 Restaurant Name  Average Cost for two
590   1           AB's Absolute Barbecues - Sidra Tower                   160
588   2  AB's Absolute Barbecues - Centurion Star Tower                   160
613   3                               Al Mukhtar Bakery                    50
619   4                      Applebee's - Sahara Centre                   250
601   5                  Applebee's - Sheikh Issa Tower                   250
574   6                       Applebee's - Mushrif Mall                   250
614   7                                  Aroos Damascus                    60
576   8                                 Bait El Khetyar                    70
586   9                                 Barbeque Nation                   150
589  10                             Carnival By Tresind                   500
571  11                Cho Gao - Crowne Plaza Abu Dhabi                   350
622  12                                  Crafted Blends                   110
564  13                                         Denny's                   190
608  14                                           Derby                    40
594  15                                    Din Tai Fung                   160
565  16                          Famous Dave's Barbecue                   260
587  17                                      Farzi Cafe                   200
605  18                     Gazebo - King Faisal Street                   120
572  19                             Gazebo - Dalma Mall                   120
569  20                                   Genghis Grill                   180
597  21                Grand Barbeque Buffet Restaurant                   150
602  22                                      Grub Shack                   130
591  23                                  Hard Rock Cafe                   300
573  24                                     Hot Palayok                   100
577  25                                Indian By Nature                    80
603  26                                           Kamat                    85
606  27                                Katis Restaurant                    65
584  28                                   Maharaja Bhog                    90
610  29                        Najmat Lahore Restaurant                    80
615  30                                         Nando's                   160
609  31                                   Nayaab Haandi                   100
570  32                                    Olive Garden                   230
581  33                                    P.F. Chang's                   250
620  34                                       Paper Fig                   150
600  35                                        Parker's                   170
616  36                       Peking Chinese Restaurant                   130
566  37                                  Pizza Di Rocco                   150
612  38                                       Pizza Hut                    80
579  39                                    Punjab Grill                   330
618  40                             Rajasthan Al Malaki                    60
585  41                                      Rasoi Ghar                    90
598  42                                     Red Lobster                   285
593  43                                            SALT                   100
611  44                                         Saffron                    90
568  45                                            Salt                   100
621  46                                      Sis Burger                    50
567  47                                  Sofra Istanbul                    70
595  48                                       SpiceKlub                   150
617  49                                    TGI Friday's                   250
580  50                                           Tamba                   500
582  51                          The Cheesecake Factory                   200
599  52         The Cheesecake Factory - The Dubai Mall                   270
592  53               The Cheesecake Factory - Yas Mall                   140
583  54                                        The Farm                   280
575  55                                   Tikka Tonight                    50
596  56                   Tresind - Nassima Royal Hotel                   500
604  57                                 Vadakkan Pepper                    70
578  58                                       Via Delhi                   100
607  59                                          Zaroob                   110

In [286]:
#Check again for duplicate restaurant names
duplicates = df_UAE[(df_UAE['Country'] == 'UAE') & df_UAE.duplicated(['Restaurant Name'], keep=False)]
ordered_duplicates = duplicates.sort_values(by='ID')
print(ordered_duplicates.loc[:, [ 'ID','Restaurant Name','Address']])

Empty DataFrame
Columns: [ID, Restaurant Name, Address]
Index: []

In [287]:
#We have fixed the naming issue, I want to changer the column 'Average Cost for two' to 'Average Cost per person'
#I will also need to modify the values in this column

# Rename the 'Average Cost for two' column to 'Average Cost per person'
df_UAE = df_UAE.rename(columns={'Average Cost for two': 'Average Cost per person'})

# Divide all values in the 'Average Cost per person' column by 2
df_UAE['Average Cost per person'] = df_UAE['Average Cost per person'] / 2

df_UAE[['ID', 'Restaurant Name', 'Average Cost per person']]

,ID,Restaurant Name,Average Cost per person
590,1,AB's Absolute Barbecues - Sidra Tower,80.0
588,2,AB's Absolute Barbecues - Centurion Star Tower,80.0
613,3,Al Mukhtar Bakery,25.0
619,4,Applebee's - Sahara Centre,125.0
601,5,Applebee's - Sheikh Issa Tower,125.0
574,6,Applebee's - Mushrif Mall,125.0
614,7,Aroos Damascus,30.0
576,8,Bait El Khetyar,35.0
586,9,Barbeque Nation,75.0
589,10,Carnival By Tresind,250.0
571,11,Cho Gao - Crowne Plaza Abu Dhabi,175.0
622,12,Crafted Blends,55.0
564,13,Denny's,95.0
608,14,Derby,20.0
594,15,Din Tai Fung,80.0
565,16,Famous Dave's Barbecue,130.0
587,17,Farzi Cafe,100.0
605,18,Gazebo - King Faisal Street,60.0
572,19,Gazebo - Dalma Mall,60.0
569,20,Genghis Grill,90.0
597,21,Grand Barbeque Buffet Restaurant,75.0
602,22,Grub Shack,65.0
591,23,Hard Rock Cafe,150.0
573,24,Hot Palayok,50.0
577,25,Indian By Nature,40.0
603,26,Kamat,42.5
606,27,Katis Restaurant,32.5
584,28,Maharaja Bhog,45.0
610,29,Najmat Lahore Restaurant,40.0
615,30,Nando's,80.0
609,31,Nayaab Haandi,50.0
570,32,Olive Garden,115.0
581,33,P.F. Chang's,125.0
620,34,Paper Fig,75.0
600,35,Parker's,85.0
616,36,Peking Chinese Restaurant,65.0
566,37,Pizza Di Rocco,75.0
612,38,Pizza Hut,40.0
579,39,Punjab Grill,165.0
618,40,Rajasthan Al Malaki,30.0
585,41,Rasoi Ghar,45.0
598,42,Red Lobster,142.5
593,43,SALT,50.0
611,44,Saffron,45.0
568,45,Salt,50.0
621,46,Sis Burger,25.0
567,47,Sofra Istanbul,35.0
595,48,SpiceKlub,75.0
617,49,TGI Friday's,125.0
580,50,Tamba,250.0
582,51,The Cheesecake Factory,100.0
599,52,The Cheesecake Factory - The Dubai Mall,135.0
592,53,The Cheesecake Factory - Yas Mall,70.0
583,54,The Farm,140.0
575,55,Tikka Tonight,25.0
596,56,Tresind - Nassima Royal Hotel,250.0
604,57,Vadakkan Pepper,35.0
578,58,Via Delhi,50.0
607,59,Zaroob,55.0

In [288]:
 Restaurant_and_Cuisines = df_UAE[['ID', 'Restaurant Name', 'Cuisines']]

In [289]:
Restaurant_and_Cuisines.to_csv('Restaurant_and_Cuisines.csv', index=False)

In [290]:
#Many restaurants serve multiple cuisines, this is currently served as a list in one column
#I want to create a table that contains a column for each cuisine and provide a true or false value
#If a restaurant serves the cuisine, the value will be true, if not it will be false

# Create a new DataFrame for cuisine columns
df_UAE_Cuisine = df_UAE[['ID', 'Restaurant Name', 'Cuisines']].copy()

# Extract unique cuisines
unique_cuisines = set()
for cuisines in df_UAE['Cuisines']:
    unique_cuisines.update(cuisine.strip() for cuisine in cuisines.split(','))

# Create cuisine columns with boolean values
for cuisine in sorted(unique_cuisines):
    df_UAE_Cuisine[cuisine] = df_UAE['Cuisines'].apply(lambda x: cuisine.strip() in x.split(','))

# Update the new columns with "True" if they contain the cuisine
for cuisine in sorted(unique_cuisines):
    df_UAE_Cuisine.loc[df_UAE_Cuisine[cuisine], cuisine] = True

# Print the modified DataFrame
df_UAE_Cuisine

,ID,Restaurant Name,Cuisines,Afghani,African,American,Arabian,Asian,Bakery,Biryani,...,North Indian,Pakistani,Pizza,Portuguese,Rajasthani,Seafood,Street Food,Thai,Turkish,Vietnamese
590,1,AB's Absolute Barbecues - Sidra Tower,"Indian, Continental",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
588,2,AB's Absolute Barbecues - Centurion Star Tower,"Continental, Indian",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
613,3,Al Mukhtar Bakery,"Bakery, Arabian, Middle Eastern",False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
619,4,Applebee's - Sahara Centre,"American, Mexican, Burger",False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
601,5,Applebee's - Sheikh Issa Tower,"American, Mexican, Burger",False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
574,6,Applebee's - Mushrif Mall,"American, Mexican, Seafood",False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
614,7,Aroos Damascus,"Arabian, Middle Eastern",False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
576,8,Bait El Khetyar,"Lebanese, Arabian, Middle Eastern",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
586,9,Barbeque Nation,"Indian, North Indian",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
589,10,Carnival By Tresind,Indian,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
571,11,Cho Gao - Crowne Plaza Abu Dhabi,"Thai, Japanese, Chinese, Indonesian, Vietnamese",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
622,12,Crafted Blends,Cafe,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
564,13,Denny's,American,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
608,14,Derby,"Fast Food, American",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
594,15,Din Tai Fung,"Asian, Chinese",False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
565,16,Famous Dave's Barbecue,American,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
587,17,Farzi Cafe,"International, Indian",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
605,18,Gazebo - King Faisal Street,"Indian, Mughlai, Indian, Biryani",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
572,19,Gazebo - Dalma Mall,"Indian, North Indian, Mughlai, Biryani",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
569,20,Genghis Grill,Asian,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
597,21,Grand Barbeque Buffet Restaurant,"Indian, Asian",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
602,22,Grub Shack,"Goan, Chinese, Indian, North Indian",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
591,23,Hard Rock Cafe,"American, Burger",False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
573,24,Hot Palayok,"Filipino, Japanese, Asian",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
577,25,Indian By Nature,Indian,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
603,26,Kamat,"Indian, North Indian, Indian, Chinese",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
606,27,Katis Restaurant,"Indian, North Indian, Chinese",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
584,28,Maharaja Bhog,"Indian, Rajasthani",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
610,29,Najmat Lahore Restaurant,"Pakistani, Indian, Mughlai",False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
615,30,Nando's,"African, Portuguese",False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
609,31,Nayaab Haandi,"Pakistani, Indian",False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
570,32,Olive Garden,"Italian, Pizza",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
581,33,P.F. Chang's,Chinese,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
620,34,Paper Fig,"Cafe, Bakery, Desserts",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
600,35,Parker's,"Cafe, Burger",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
616,36,Peking Chinese Restaurant,"Chinese, Thai",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
566,37,Pizza Di Rocco,"Italian, Pizza",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
612,38,Pizza Hut,"Fast Food, Pizza",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
579,39,Punjab Grill,"Indian, North Indian",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
618,40,Rajasthan Al Malaki,"Indian, North Indian",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
585,41,Rasoi Ghar,Indian,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
598,42,Red Lobster,"Seafood, American",False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
593,43,SALT,"Fast Food, Burger",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
611,44,Saffron,"Pakistani, Chinese, Indian, Afghani",False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
568,45,Salt,"Fast Food, Burger",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
621,46,Sis Burger,"Fast Food, Burger",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
567,47,Sofra Istanbul,"Turkish, Arabian, Middle Eastern",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
595,48,SpiceKlub,"Indian, North Indian, Street Food",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
617,49,TGI Friday's,"American, Mexican",False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
580,50,Tamba,Indian,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
582,51,The Cheesecake Factory,"American, Desserts",False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
599,52,The Cheesecake Factory - The Dubai Mall,"American, Desserts",False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
592,53,The Cheesecake Factory - Yas Mall,Cafe,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
583,54,The Farm,"Mediterranean, Italian, Thai, European",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
575,55,Tikka Tonight,"Pakistani, Afghani, Indian, Hyderabadi",False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
596,56,Tresind - Nassima Royal Hotel,Indian,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
604,57,Vadakkan Pepper,Indian,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
578,58,Via Delhi,"Indian, North Indian, Chinese",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
607,59,Zaroob,Lebanese,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [291]:
# Export df_UAE_Cuisine to a CSV file
df_UAE_Cuisine.to_csv('df_UAE_Cuisine.csv', index=False)

In [292]:
# Rename df_UAE to df_UAE_Restaurants and export to CSV
df_UAE_Restaurants = df_UAE.rename(columns={'ID': 'ID', 'Restaurant Name': 'Restaurant Name', 'Cuisines': 'Cuisines'})

df_UAE_Restaurants.to_csv('df_UAE_Restaurants.csv', index=False)

In [293]:
#I now have my two CSV files containtin all UAE restaurants and all of the cuisines they serve
#Now I need to create a way to link them correctly, I will do this by creating mapping tables

#First I will create a table containing all unique Cuisines and give them a unique ID

unique_cuisines = df_UAE_Cuisine['Cuisines'].unique()

# Split multiple cuisines and create a set of unique cuisines
unique_cuisine_set = set()
id_counter = 1
for cuisine in unique_cuisines:
    cuisines_list = cuisine.split(',')
    for cuis in cuisines_list:
        unique_cuisine_set.add(cuis.strip())

# Create a new DataFrame with unique cuisine rows
cuisine_table = pd.DataFrame({'ID': range(1, len(unique_cuisine_set) + 1),
                              'Cuisine': list(unique_cuisine_set)})

# Reorder the columns in the cuisine table
cuisine_table = cuisine_table[['ID', 'Cuisine']]

# Print the cuisine table
print(cuisine_table)

    ID         Cuisine
0    1        European
1    2      Vietnamese
2    3        American
3    4         Italian
4    5     Street Food
5    6           Asian
6    7       Fast Food
7    8   International
8    9        Lebanese
9   10    North Indian
10  11        Desserts
11  12         Afghani
12  13            Goan
13  14        Filipino
14  15         Arabian
15  16         Turkish
16  17          Burger
17  18       Pakistani
18  19   Mediterranean
19  20           Pizza
20  21         Biryani
21  22          Bakery
22  23      Hyderabadi
23  24        Japanese
24  25            Cafe
25  26         Mughlai
26  27     Continental
27  28         Mexican
28  29         Seafood
29  30         African
30  31            Thai
31  32         Chinese
32  33  Middle Eastern
33  34          Indian
34  35      Indonesian
35  36      Portuguese
36  37      Rajasthani

In [294]:
# Export df_UAE_Cuisine to a CSV file
cuisine_table.to_csv('cuisine_table.csv', index=False)

In [319]:
#Now I will create a mapping table that will link the Restaurants Unique ID with the Cuisines Unique Id
#based on if they serve the cuisine using the table we made earlier

# Define the mapping table
mapping_table = pd.DataFrame(columns=['Cuisine_ID', 'Restaurant_ID'])

# Iterate over the rows in Restaurant_and_Cuisines
for index, row in Restaurant_and_Cuisines.iterrows():
    cuisines = row['Cuisines'].split(', ')
    restaurant_id = row['ID']
    for cuisine in cuisines:
        cuisine = cuisine.strip()
        # Check if the cuisine exists in cuisine_table
        if cuisine in cuisine_table['Cuisine'].values:
            # Get the matching cuisine from cuisine_table
            matching_cuisine = cuisine_table.loc[cuisine_table['Cuisine'] == cuisine, 'ID'].values[0]
            # Add the mapping to the mapping_table
            mapping_table = mapping_table.append({'Cuisine_ID': matching_cuisine, 'Restaurant_ID': restaurant_id}, ignore_index=True)

sorted_mapping_table = mapping_table.sort_values(by='Cuisine_ID', ascending=True)

# Print the sorted mapping_table
sorted_mapping_table

    Cuisine_ID Restaurant_ID
123          1            54
28           2            11
30           3            13
112          3            49
32           3            14
..         ...           ...
59          34            26
66          34            28
27          35            11
72          36            30
67          37            28

[134 rows x 2 columns]

In [296]:
# Export df_UAE_Cuisine to a CSV file
sorted_mapping_table.to_csv('sorted_mapping_table.csv', index=False)

In [303]:
print(df_UAE[['Average Cost per person', 'Aggregate rating','Rating text']])

     Average Cost per person  Aggregate rating Rating text
590                     80.0               4.8   Excellent
588                     80.0               4.9   Excellent
613                     25.0               4.2   Very Good
619                    125.0               4.1   Very Good
601                    125.0               3.7        Good
574                    125.0               4.0   Very Good
614                     30.0               4.2   Very Good
576                     35.0               4.0   Very Good
586                     75.0               4.5   Excellent
589                    250.0               4.9   Excellent
571                    175.0               4.4   Very Good
622                     55.0               4.2   Very Good
564                     95.0               4.6   Excellent
608                     20.0               4.1   Very Good
594                     80.0               4.3   Very Good
565                    130.0               4.6   Excellent
587                    100.0               4.5   Excellent
605                     60.0               4.1   Very Good
572                     60.0               4.0   Very Good
569                     90.0               4.6   Excellent
597                     75.0               4.4   Very Good
602                     65.0               4.3   Very Good
591                    150.0               4.5   Excellent
573                     50.0               4.5   Excellent
577                     40.0               4.3   Very Good
603                     42.5               3.9        Good
606                     32.5               4.3   Very Good
584                     45.0               4.1   Very Good
610                     40.0               4.2   Very Good
615                     80.0               4.2   Very Good
609                     50.0               4.1   Very Good
570                    115.0               4.1   Very Good
581                    125.0               4.2   Very Good
620                     75.0               4.5   Excellent
600                     85.0               4.3   Very Good
616                     65.0               3.8        Good
566                     75.0               4.4   Very Good
612                     40.0               2.4        Poor
579                    165.0               4.9   Excellent
618                     30.0               4.8   Excellent
585                     45.0               4.3   Very Good
598                    142.5               3.2     Average
593                     50.0               4.3   Very Good
611                     45.0               4.1   Very Good
568                     50.0               4.2   Very Good
621                     25.0               3.8        Good
567                     35.0               4.3   Very Good
595                     75.0               4.4   Very Good
617                    125.0               3.9        Good
580                    250.0               4.7   Excellent
582                    100.0               4.6   Excellent
599                    135.0               4.7   Excellent
592                     70.0               4.5   Excellent
583                    140.0               3.9        Good
575                     25.0               4.0   Very Good
596                    250.0               4.9   Excellent
604                     35.0               3.8        Good
578                     50.0               4.0   Very Good
607                     55.0               3.9        Good

In [314]:
#I will create my value rating based on the average cost per person, aggregate score, and rating text columns
#I will create a weight for each of the five possible values in the rating text column

# Assuming your existing DataFrame is named "df"
df_UAE['Value Rating'] = (df_UAE['Average Cost per person'] / 100) * df_UAE['Aggregate rating']

# Map Rating text to corresponding rating values
rating_mapping = {
    'Poor': 0.5,
    'Average': 1.0,
    'Good': 1.5,
    'Very Good': 2.0,
    'Excellent': 2.5
}
df_UAE['Rating Value'] = df_UAE['Rating text'].map(rating_mapping)

# Calculate the final value rating
df_UAE['Value Rating'] = df_UAE['Value Rating'] * df_UAE['Rating Value']

# Display the updated DataFrame
ValueRatings_df_UAE = df_UAE[['ID','Value Rating']] .sort_values(by='Value Rating', ascending=False)

ValueRatings_df_UAE

     ID  Value Rating
596  56      30.62500
589  10      30.62500
580  50      29.37500
579  39      20.21250
591  23      16.87500
599  52      15.86250
571  11      15.40000
565  16      14.95000
582  51      11.50000
587  17      11.25000
564  13      10.92500
581  33      10.50000
569  20      10.35000
619   4      10.25000
574   6      10.00000
588   2       9.80000
590   1       9.60000
570  32       9.43000
586   9       8.43750
620  34       8.43750
583  54       8.19000
592  53       7.87500
617  49       7.31250
600  35       7.31000
601   5       6.93750
594  15       6.88000
615  30       6.72000
566  37       6.60000
597  21       6.60000
595  48       6.60000
573  24       5.62500
602  22       5.59000
605  18       4.92000
572  19       4.80000
622  12       4.62000
598  42       4.56000
593  43       4.30000
568  45       4.20000
609  31       4.10000
578  58       4.00000
585  41       3.87000
616  36       3.70500
584  28       3.69000
611  44       3.69000
618  40       3.60000
577  25       3.44000
610  29       3.36000
607  59       3.21750
567  47       3.01000
576   8       2.80000
606  27       2.79500
614   7       2.52000
603  26       2.48625
613   3       2.10000
575  55       2.00000
604  57       1.99500
608  14       1.64000
621  46       1.42500
612  38       0.48000

In [315]:
ValueRatings_df_UAE.to_csv('ValueRatings_df_UAE.csv', index=False)

In [ ]:
#Thankyou for reading, the exported data was then used to create the following dashboard
#https://public.tableau.com/views/UAEBestValueRestaurants/Dashboard12?:language=en-GB&publish=yes&:display_count=n&:origin=viz_share_link